<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCArtifact:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCNaveen-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVCArtifact:war exploded" />
    </root>
  </artifact>
</component>